


@import "tailwindcss";


@layer base {
  body {
    @apply bg-gray-100 text-gray-800 antialiased;
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 999px;
}
